<app-loading *ngIf="loadingService.modal"></app-loading>
<div class="card bg-light" *ngIf="factura">
  <div class="card-header">
      <h4><strong>
        {{titulo}}
      </strong></h4>
  </div>
  <div class="card-body">
    <h4 class="card-title">
      <a class="btn btn-rounded btn-outline-warning btn-xs  mb-1">&laquo; Regresar</a>
      <td >

        <button (click)="generarFactura(factura)"
              class="btn btn-rounded btn-outline-secondary btn-xs " type="button" >
        Imprimir
        </button>
      </td>
    </h4>

    <ul class="list-group my-2">
      <li class="list-group-item list-group-item-primary">Datos del cliente</li>
      <li class="list-group-item"> <strong>Nombres: </strong> {{factura.usuario.nombre | uppercase }} </li>
      <li class="list-group-item"> <strong>Apellidos:  </strong> {{factura.usuario.apellido | uppercase}}</li>
      <li class="list-group-item"> <strong>Documento:</strong>  {{factura.usuario.documento}}</li>
      <li class="list-group-item"> <strong>Celular:</strong>  {{factura.usuario.celular1}}</li>
    </ul>

    <ul class="list-group my-2">
      <li class="list-group-item list-group-item-primary">Datos de la factura</li>
      <!-- <li class="list-group-item"> <strong>Folio: </strong>  {{factura.id}}</li> -->
      <li class="list-group-item"> 
        <ul class="list-group my-2">
          <div class="row">
            <div class="col-sm-2">
              <li class="list-group-item ">
                <strong>Estado: </strong> {{factura.estado | uppercase}}</li>
              </div>
            <div class="col-sm-2">
            <li class="list-group-item">
              <strong>Cambiar: </strong>
              <form [formGroup]="estadoFormulario">
                <select id="estado" formControlName="estado" 
                    (change)="cambiarEstadoFactura(factura)">
                    <option *ngFor="let estado of estados" 
                    [ngValue]="estado">{{ estado }}</option>
                </select>
              </form>
            </li>
            </div>
          </div>
        </ul>
      </li>
      <li class="list-group-item"> <strong>Descripción: </strong> {{factura.descripcion | uppercase}}</li>
      <li class="list-group-item"> <strong>Fecha Facturación: </strong> {{factura.createAt | date:"fullDate"}}</li>
      <li class="list-group-item"> <strong>Vendedor: </strong> {{factura.usuario.nombre}} {{factura.usuario.apellido}}</li>
    </ul>


    <table class="table table-striped table-hover table-bordered my-3">
      <thead class="bg-dark text-center text-white">
        <tr>
          <th>Producto</th>
          <th>Precio</th>
          <th>Cantidad</th>
          <th>Total</th>
        </tr>
      </thead>
      <tbody class="text-center">
        <tr *ngFor="let item of factura.items">
          <td>{{item.producto.nombre | uppercase}}</td>
          <td>{{formatNumber(item.producto.precio)}}</td>
          <td>{{item.cantidad}}</td>
          <td>{{formatNumber(item.cantidad*item.producto.precio)}}</td>
        </tr>
      </tbody>
    </table>
        <h5 class="float-right">
          <strong>Total</strong>:
          <span class="badge badge-warning m-2 p-2">
            {{formatNumber(factura.total)}}
          </span>
        </h5>
    <div class="card border-info mb-4" style="max-width: 350px;">
      <div class="card card-header">
        Observaciones
      </div>
      <div class="card card-body">
        <p *ngIf="!factura.observacion">No tiene observación</p>
        <p *ngIf="factura.observacion">{{factura.observacion | uppercase}}</p>
      </div>

    </div>
    <a 
        class="btn btn-rounded btn-outline-warning btn-xs ">&laquo; Regresar</a>
  </div>
</div>
