<app-loading *ngIf="loadingService.modal"></app-loading>
<ul class="alert alert-danger" *ngIf="errores?.length>0" >
  <li  *ngFor="let err of errores" >
    {{err}}
  </li>
</ul>
<div class="card bg-dark  text-white-50">
<div class="card-header">
  <h4 class="card-title">
    <strong>
      {{titulo}}:
    </strong>
  </h4>
</div>
<div class="card-body">
  <div class="card-title my-3">
    <h4>
      Los campos con (*) son requeridos.
    </h4>
  </div>
  <form #userForm="ngForm" >
    <div class="row">
      <div class="col-sm-6">
        <div class="form-group row">
          <label for="username" class="col-form-label col-sm-4 text-right">Nick (*) : </label>
          <div class="col-sm-8">
            <input type="text"
                  class="form-control"
                    [(ngModel)]="user.username"
                      name="username"
                      placeholder="Digete Nick del Usuario"
                      minlength="4"
                      maxlength="15"
                      #username="ngModel"
                      requiered>
                      <div class="alert alert-danger pt-2" *ngIf="username.invalid &&
                      (username.dirty || username.touched)" >
                        <div class="" *ngIf="username?.errors.requiered" >
                          Nick es Requerido
                        </div>
                        <div class="" *ngIf="username?.errors.minlength" >
                          Nick debe contener minimo 4 caracteres
                        </div>
                        <div class="" *ngIf="username?.errors?.maxlength" >
                          Nombre debe contener maximo 15 caracteres
                        </div>
                    </div>
          </div>
        </div>
        <div class="form-group row">
          <label for="password" class="col-form-label col-sm-4 text-right">Password (*) :</label>
          <div class="col-sm-8">
            <input type="password"
                    class="form-control"
                    minlength="8"
                    maxlength="100"
                    [(ngModel)]="user.password"
                    placeholder="Digite una Contraseña de minimo 8 Caracteres"
                    name="password"
                    #password="ngModel"
                    requiered>
                    <div class="alert alert-danger pt-2" *ngIf="password.invalid &&
                     (password.dirty || password.touched)" >
                      <div class="" *ngIf="password?.errors.requiered" >
                        Password es Requerido
                      </div>
                      <div class="" *ngIf="password?.errors.minlength" >
                        Password debe contener minimo 8 caracteres
                      </div>
                      <div class="" *ngIf="password?.errors.maxlength" >
                        Documento debe contener maximo 100 caracteres
                      </div>
                  </div>
          </div>
        </div>
        <div class="form-group row">
          <label for="nombre" class="col-form-label col-sm-4 text-right ">Nombre (*) : </label>
          <div class="col-sm-8">
            <input type="text" class="form-control "
                    style="text-transform:uppercase;"
                    [(ngModel)]="user.nombre"
                    placeholder="Digete Nombre(s) del Usuario, solo letras"
                    id="nombre"
                    name="nombre"
                    minlength="3"
                    maxlength="20"
                    #nombre="ngModel"
                    ng-model="nombre"
                    requiered>
                    <div *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)"
                            class="alert alert-danger">
                      <div class="" *ngIf="nombre?.errors?.required" >
                        Nombre es Requerido
                      </div>
                      <div class="" *ngIf="nombre?.errors?.minlength" >
                        Nombre(s) debe contener minimo 3 caracteres
                      </div>
                      <div class="" *ngIf="nombre?.errors?.maxlength" >
                        Nombre(s) debe contener maximo 20 caracteres
                      </div>
                  </div>
          </div>
        </div>
        <div class="form-group row">
          <label for="apellido" class="col-form-label col-sm-4 text-right">Apellido (*) : </label>
          <div class="col-sm-8">
            <input type="text"
                    class="form-control"
                    style="text-transform:uppercase;"
                    placeholder="Digete Apellido(s) del Usuario, solo letras"
                    [(ngModel)]="user.apellido"
                    name="apellido"
                    minlength="3"
                    maxlength="20"
                    #apellido="ngModel"
                    requiered>
                    <div class="alert alert-danger pt-2" *ngIf="apellido.invalid &&
                     (apellido.dirty || apellido.touched)" >
                      <div class="" *ngIf="apellido?.errors.requiered" >
                        Apellido es Requerido
                      </div>
                      <div class="" *ngIf="apellido?.errors.minlength" >
                        Apellido debe contener minimo 3 caracteres
                      </div>
                      <div class="" *ngIf="apellido?.errors.maxlength" >
                        Apellido debe contener maximo 20 caracteres
                      </div>
                  </div>
          </div>
        </div>
        <div class="form-group row">
          <label for="documento" class="col-form-label col-sm-4 text-right">Doc. Identidad (*) :</label>
          <div class="col-sm-8">
            <input type="number" class="form-control"
                  [(ngModel)]="user.documento"
                  name="documento"
                  placeholder="Solo Numeros, No digite( . / * - # ,) "
                  minlength="8"
                  maxlength="10"
                  #documento="ngModel"
                  requiered>
                  <div class="alert alert-danger pt-2"
                        *ngIf="documento.invalid && (documento.dirty || documento.touched)" >
                      <div class="" *ngIf="documento?.errors.requiered" >
                        Documento es Requerido
                      </div>
                      <div class="" *ngIf="documento?.errors.minlength" >
                        Documento debe contener minimo 8 caracteres
                      </div>
                      <div class="" *ngIf="documento?.errors.maxlength" >
                        Documento debe contener maximo 10 caracteres
                      </div>
                  </div>
          </div>
        </div>
        <div class="form-group row">
          <label for="email" class="col-form-label col-sm-4 text-right">Email (*) :</label>
          <div class="col-sm-8">
            <input type="email"
                  class="form-control"
                  style="text-transform:uppercase;"
                  placeholder="Digite Email "
                  [(ngModel)]="user.email"
                  name="email"
                    #email="ngModel"
                    >
                    <div class="alert alert-danger pt-2" *ngIf="email.invalid &&
                      (email.dirty || email.touched)" >
                      <div class="" *ngIf="email?.errors.email" >
                       Formato de Email Invalido
                      </div>
                  </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6">

        <div class="form-group row">
          <label for="telefono" class="col-form-label col-sm-4 text-right">Telefono Fijo :</label>
          <div class="col-sm-8">
            <input type="number"
                    class="form-control"
                    [(ngModel)]="user.telefono"
                    placeholder="Digite un numero de telefono fijo "
                    name="telefono"
                    minlength="7"
                    maxlength="7"
                    #telefono="ngModel"
                    >
                    <div class="alert alert-danger pt-2" *ngIf="telefono.invalid &&
                            (telefono.dirty || telefono.touched)" >
                      <div class="" *ngIf="telefono?.errors.minlength" >
                        Telefono debe contener minimo 7 caracteres
                      </div>
                      <div class="" *ngIf="telefono?.errors.maxlength" >
                        Telefono debe contener maximo 7 caracteres
                      </div>
                  </div>
          </div>
        </div>
        <div class="form-group row">
          <label for="celular1" class="col-form-label col-sm-4 text-right">Celular 1 (*) : </label>
          <div class="col-sm-8">
            <input type="number"
                    class="form-control"
                    [(ngModel)]="user.celular1"
                    name="celular1"
                    minlength="10"
                    maxlength="10"
                    #celular1="ngModel"
                    placeholder="Digite un numero de Celular principal, Ej: 315..... "
                    requiered>
                    <div class="alert alert-danger pt-2"
                        *ngIf="celular1.invalid && (celular1.dirty || celular1.touched)" >
                      <div class="" *ngIf="celular1?.errors.requiered" >
                        Celular 1 es Requerido
                      </div>
                      <div class="" *ngIf="celular1?.errors.minlength" >
                        Celular 1 debe contener minimo 10 caracteres
                      </div>
                      <div class="" *ngIf="celular1?.errors.maxlength" >
                        Celular 1 debe contener maximo 10 caracteres
                      </div>
                  </div>
          </div>
        </div>

        <div class="form-group row">
          <label for="celular2" class="col-form-label col-sm-4 text-right">Celular 2 :</label>
          <div class="col-sm-8">
            <input type="number"
                    class="form-control"
                    [(ngModel)]="user.celular2"
                    name="celular2"
                    placeholder="Digite un numero de Celular Secundario (opciona), Ej: 301..... "
                    minlength="10"
                    maxlength="10"
                    #celular2="ngModel">
                    <div class="alert alert-danger pt-2"
                        *ngIf="celular2.invalid && (celular2.dirty || celular2.touched)" >
                      <div class="" *ngIf="celular2?.errors.minlength" >
                        Celular 2 debe contener minimo 10 caracteres
                      </div>
                      <div class="" *ngIf="celular2?.errors.maxlength" >
                        Celular 2 debe contener maximo 10 caracteres
                      </div>
                  </div>
          </div>
        </div>
        <!-- <div class="form-group row">
          <label for="direccion" class="col-form-label col-sm-4 text-right">Direccion :</label>
          <div class="col-sm-8">
            <input type="text"
                    class="form-control"
                    style="text-transform:uppercase;"
                    [(ngModel)]="user.direccion"
                    name="direccion"
                    placeholder="Digite direccion de ubicacion, Ej: calle-5 av-10 # 4-25 "
                    minlength="3"
                    maxlength="50"
                    #direccion="ngModel"
                    requiered>
                    <div class="alert alert-danger pt-2"
                      *ngIf="direccion.invalid && (direccion.dirty || direccion.touched)" >
                      <div class="" *ngIf="direccion?.errors.requiered" >
                        Direccion es Requerido
                      </div>
                      <div class="" *ngIf="direccion?.errors.minlength" >
                        Direccion debe contener minimo 3 caracteres
                      </div>
                      <div class="" *ngIf="apellido?.errors.maxlength" >
                        Direccion debe contener direccion 50 caracteres
                      </div>
                  </div>
          </div>
        </div> -->
        <!-- <div class="form-group row">
          <label for="region" class="col-form-label col-sm-4 text-right">Ubicacion (*) :</label>
          <div class="col-sm-8">
              <select  class="form-control"
                        [compareWith]="compararRegion"
                        [(ngModel)]="user.region" name="region"
                        style="width: 330px;">
                        <option
                            [ngValue]="undefined">
                            --- Selecionar Ubicacion ---
                        </option>
                        <option *ngFor="let region of regiones"
                        [ngValue]="region">{{region.nombre | uppercase}}</option>
              </select>
          </div>
        </div> -->
        <div class="form-group row">
          <label for="fecha" class="col-form-label col-sm-4 text-right">Fec. Nacimiento (*) :</label>
          <div class="col-sm-8">
              <input [matDatepicker]="fecha"
                [min]="minDate"
                class="form-control"
                [max]="maxDate"
                [(ngModel)]="user.fecha"
                [ngModelOptions]="{standalone: true}"
                name="fecha"
                placeholder="Selecione su fecha de nacimiento"
                requiered
                style="display:inline; width: 250px;">
               <mat-datepicker-toggle
                matSuffix [for]="fecha">
                </mat-datepicker-toggle>
              <mat-datepicker  #fecha></mat-datepicker>
          </div>
        </div>
      </div>
    </div>


    <div class="form-group row">
        <div class="col-sm-6">
          <button class="btn btn-primary"
                  role="button"
                  (click)="create()"
                  *ngIf="!user.id else elseBlock"
                  [disabled]="!userForm.form.valid" >
            Crear
          </button>
          <ng-template #elseBlock>
              <button class="btn btn-primary"
                  role="button"
                  (click)="update()"
                  [disabled]="!userForm.form.valid">
            Actualizar
          </button>
          </ng-template>
        </div>
      </div>
  </form>
</div>
</div>
