<ul class="alert alert-danger" *ngIf="errores?.length>0" >
  <li  *ngFor="let err of errores" >
    {{err}}
  </li>
</ul>
<div class="card bg-dark text-white">
  <div class="card-header">
    {{titulo}}
  </div>
  <div class="card-body">
    <form #servicioForm="ngForm">
      <div class="form-group row">
        <label for="nombre" class="col-form-label col-sm-2">Nombre </label>
        <div class="col-sm-6">
          <input type="text" class="form-control"
                  style="text-transform:uppercase;"
                  [(ngModel)]="servicio.nombre"
                  name="nombre"
                  minlength="3"
                  maxlength="50"
                  #nombre="ngModel"
                  requiered>
              <div *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)"
                   class="alert alert-danger">
                  <div class="" *ngIf="nombre?.errors?.required" >
                    Nombre es Requerido
                  </div>
                  <div class="" *ngIf="nombre?.errors?.minlength" >
                    Nombre debe contener minimo 3 caracteres
                  </div>
                  <div class="" *ngIf="nombre?.errors?.maxlength" >
                    Nombre debe contener maximo 50 caracteres
                  </div>
              </div>
        </div>
      </div>
      <div class="form-group row">
        <label for="descripcion" class="col-form-label col-sm-2">Descripcion </label>
        <div class="col-sm-6">
          <textarea class="form-control"
                    [(ngModel)]="servicio.descripcion"
                    name="descripcion"
                    >
          </textarea>
        </div>
      </div>
      <div class="form-group row">
          <label for="costoRepuesto" class="col-form-label col-sm-2">Costo Repuesto:  $ </label>
          <div class="col-sm-6">
            <input type="number"
                class="form-control"
                  [(ngModel)]="servicio.costoRepuesto"
                  name="costoRepuesto"
                  minlength="1"
                  #costoRepuesto="ngModel"
                  requiered>
                 <div class="alert alert-danger pt-2" *ngIf="costoRepuesto.invalid " >
                    <div class="" *ngIf="!!costoRepuesto?.errors.requiered" >
                      Costo Repuesto es Requerido
                    </div>
                </div>
          </div>
        </div>
        <div class="form-group row">
            <label for="costoServicio" class="col-form-label col-sm-2">Costo Servicio:  $ </label>
            <div class="col-sm-6">
              <input type="number"
                  class="form-control"
                    [(ngModel)]="servicio.costoServicio"
                    name="costoServicio"
                    minlength="1"
                    #costoServicio="ngModel"
                    requiered>
                    <div class="alert alert-danger pt-2" *ngIf="costoServicio.invalid" >
                      <div class="" *ngIf="costoServicio?.errors.requiered" >
                        Costo Servicio es Requerido
                      </div>
                  </div>
            </div>
          </div>
        <div class="form-group row">
            <div class="col-sm-6">
              <button class="btn btn-primary"
                      role="button"
                      (click)="create()"
                      *ngIf="!servicio.id else elseBlock"
                      [disabled]="!servicioForm.form.valid">
                Crear
              </button>
              <ng-template #elseBlock>
                  <button class="btn btn-primary"
                      role="button"
                      (click)="update()"
                      [disabled]="!servicioForm.form.valid">
                Actualizar
              </button>
              </ng-template>
            </div>
          </div>
    </form>
  </div>

</div>


