<div class="abrir-modal animacion fadeIn" *ngIf="modalServicioBuscarService.modal">
  <app-detalle-servicio
      *ngIf="servicioSelecionado"
      [servicio]="servicioSelecionado"></app-detalle-servicio>
  <div  style="display: block;"
      class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">{{titulo}}</h5>
          <button
            (click)="cerrarModalBusquedaServicio()"
            type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="container">
            <div class="row">
              <div class="col-sm">
                <form #productoForm="ngForm">
                  <div class="form-group row example-form">
                          <div class="col-sm-12">
                            <mat-form-field class="example-full-width">
                              <input type="text" placeholder="Digite Nombre Del Servicio"
                                      aria-label="Servicios"
                                      matInput [formControl]="autocompleteControl"
                                      [matAutocomplete]="auto">
                              <mat-autocomplete #auto="matAutocomplete"
                                      [displayWith]="mostrarNombre"
                                      (optionSelected)="seleccionarServicio($event)">
                                <mat-option *ngFor="let servicio of serviciosFiltrados | async"
                                          [value]="servicio">
                                          {{servicio.nombre}} 
                                </mat-option>
                              </mat-autocomplete>
                            </mat-form-field>
                            <div class="alert alert-danger"
                                  *ngIf="autocompleteControl.invalid && productoForm.submitted">
                              Debe Agregar Producto
                            </div>
                          </div>
                        </div>
                    </form>

                    <table class="table table-striped table-hover table-sm" >
                      <thead>
                        <tr>
                          <th>Detalles</th>
                          <th>Nombre</th>
                          <th>Costo Repuesto</th>
                          <th>Costo Servicio</th>
                         </tr>
                      </thead>
                      <tbody>
                        <tr  *ngIf="servicio" >
                          <td>
                            <img   (click)="abrirModal(servicio)"
                                src="http://localhost:8080/images/no-producto.png"
                            alt="sin-foto" class="img-thumbnail rounded"
                            style="width: 64px; cursor: pointer;">
                        </td>
                          <td>{{servicio.nombre | uppercase}}</td>
                          <td>{{formatNumber(servicio.costoRepuesto)}}</td>
                          <td>{{formatNumber(servicio.costoServicio)}}</td>
                        </tr>
                      </tbody>
                    </table>

              </div>
          </div>
        </div>
        <div class="modal-footer">

            <div class="col-sm-2">
              <button (click)="cerrarModalBusquedaServicio()"
                type="button" class="btn btn-secondary" data-dismiss="modal">
                Cerrar
              </button>
            </div>

        </div>
      </div>
    </div>
  </div>
  </div>






