<ul class="alert alert-danger" *ngIf="errores?.length>0" >
    <li  *ngFor="let err of errores" >
      {{err}}
    </li>
</ul>
<div class="card bg-dark text-white">
    <div class="card-header">
      <h4 class="card-title">
        <strong>
          {{titulo}}:
        </strong>
      </h4>
    </div>
    <div class="card-body">
      <form #productoForm="ngForm">
        <div class="form-group row">
          <label for="nombre" class="col-form-label col-sm-2">Nombre </label>
          <div class="col-sm-6">
            <input type="text" class="form-control"
                    style="text-transform:uppercase;"
                    [(ngModel)]="producto.nombre"
                    placeholder="Digite un nombre para el Producto"
                    name="nombre"
                    minlength="3"
                maxlength="50"
                #nombre="ngModel"
                requiered>
                <div *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)"
                      class="alert alert-danger">
                    <div class="" *ngIf="nombre?.errors?.required" >
                      Nombre es Requerido
                    </div>
                    <div class="" *ngIf="nombre?.errors?.minlength" >
                      Nombre debe contener minimo 3 caracteres
                    </div>
                    <div class="" *ngIf="nombre?.errors?.maxlength" >
                      Nombre debe contener maximo 50 caracteres
                    </div>
                </div>
          </div>
        </div>
        <div class="form-group row">
          <label for="descripcion" class="col-form-label col-sm-2">Descripcion </label>
          <div class="col-sm-6">
            <textarea class="form-control"
                      style="text-transform:uppercase;"
                      placeholder="Digite cualquier dato que considere importante"
                      [(ngModel)]="producto.descripcion"
                      name="descripcion"
                      >
            </textarea>
          </div>
        </div>
        <div class="form-group row">
            <label for="precioCompra" class="col-form-label col-sm-2">Precio Compra:  $ </label>
            <div class="col-sm-6">
              <input type="number"
                    class="form-control"
                    [(ngModel)]="producto.precioCompra"
                    name="precioCompra"
                    placeholder="Solo Numeros, No digite 'puntos' ( . ) ni 'comas'( , )"
                    minlength="3"
                    #precioCompra="ngModel"
                    requiered>
                    <div *ngIf="precioCompra.invalid && (precioCompra.dirty || precioCompra.touched)"
                          class="alert alert-danger">
                        <div class="" *ngIf="precioCompra?.errors?.required" >
                          Precio Compra Es Requerido
                        </div>
                        <div class="" *ngIf="precioCompra?.errors?.minlength" >
                          Precio Compra debe contener minimo 3 digitos
                        </div>
                    </div>
            </div>
          </div>
          <div class="form-group row">
              <label for="precio" class="col-form-label col-sm-2">Precio Venta:  $ </label>
              <div class="col-sm-6">
                <input type="number"
                    class="form-control"
                      [(ngModel)]="producto.precio"
                      name="precio"
                      placeholder="Solo Numeros, No digite 'puntos' ( . ) ni 'comas'( , )"
                      minlength="3"
                      #precio="ngModel"
                      requiered>
                      <div class="alert alert-danger pt-2" *ngIf="precio.invalid" >
                        <div class="" *ngIf="precio?.errors.requiered" >
                          Precio Venta es Requerido
                        </div>
                        <div class="" *ngIf="precio?.errors?.required" >
                          Precio Venta Es Requerido
                        </div>
                        <div class="" *ngIf="precio?.errors?.minlength" >
                          Precio Compra debe contener minimo 3 digitos
                        </div>
                    </div>
              </div>
            </div>
            <div class="form-group row">
                <label for="cantidad" class="col-form-label col-sm-2">Cantidad:   </label>
                <div class="col-sm-6">
                  <input type="number"
                      class="form-control"
                        [(ngModel)]="producto.cantidad"
                        name="cantidad"
                        placeholder="Solo Numeros, No digite 'puntos' ( . ) ni 'comas'( , )"
                        minlength="1"
                        #cantidad="ngModel"
                        requiered>
                        <div class="alert alert-danger pt-2" *ngIf="cantidad.invalid " >
                          <div class="" *ngIf="cantidad?.errors.requiered" >
                            Cantidad es Requerida
                          </div>
                          <div class="" *ngIf="cantidad?.errors?.minlength" >
                            Precio Compra debe contener minimo 1 digitos diferente de 0
                          </div>
                      </div>
                </div>
              </div>
          <div class="form-group row">
              <div class="col-sm-6">
                <button class="btn btn-primary"
                        role="button"
                        (click)="create()"
                        *ngIf="!producto.id else elseBlock"
                        [disabled]="!productoForm.form.valid">
                  Crear
                </button>
                <ng-template #elseBlock>
                    <button class="btn btn-primary"
                        role="button"
                        (click)="update()"
                        [disabled]="!productoForm.form.valid">
                  Actualizar
                </button>
                </ng-template>

              </div>
            </div>
      </form>
    </div>

  </div>

